.hero {
  margin-top: calc(68px - 10px);
}

.service,
.flow,
.faq,
.menu {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature {
  padding-bottom: 50px;
}
.feature__title {
  margin-bottom: 52px;
}

.contents {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 1024px;
}
