.faq {
  background: #fff;
  padding: 60px 0;
}

.faq__title {
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
  color: #626063;
}

.faq__list {
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.faq__item {
  background-color: #fff;
  border: #626063 solid 1px;
  border-radius: 8px;
  margin-bottom: 24px;
  min-height: 66px;
  position: relative;
}

.faq__q {
  position: absolute;
  top: 12px;
  left: 0;
  padding: 0 16px 0 8px;
  height: 32px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  background: #42d6d1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
}

.faq__q::before {
  position: absolute;
  content: "";
  top: 0;
  left: -7px;
  border: none;
  height: 38px;
  width: 8px;
  background: #42d6d1;
  border-radius: 4px 0 0 4px;
}

.faq__summary {
  cursor: pointer;
  padding: 0 12px 0 48px;
  display: flex;
  align-items: center;
  min-height: 66px;
  letter-spacing: 0.1rem;
  color: #626063;
}

.faq__a {
  position: absolute;
  top: 80px;
  left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fd7893;
}
.faq__text {
  padding: 12px 12px 12px 48px;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  animation: fadeIn 0.5s ease-in-out;
  color: #626063;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(+50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
