.feature {
  background-color: #f4f2ef;
}

.feature__title {
  font-size: 1.6rem;
  text-align: center;
  padding: 40px 0;
  color: #626063;
  margin-bottom: 80px;
}

.feature__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature__item {
  flex-basis: 28%;
  margin-bottom: 80px;
}

.card {
  position: relative;
  min-height: 200px;
  height: auto;
  background-color: #ffffff;
  text-align: center;
  border-radius: 12px;
}

.card:hover .card__text {
  display: block;
  font-size: 0.9rem;
  color: #fd7893;
}

.card__circle {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
}

.card__point__char1,
.card__point__char2,
.card__point__char3,
.card__point__char4,
.card__point__char5,
.card__number {
  font-size: 0.8rem;
  position: absolute;
  transform: translateX(-50%);
  color: #626063;
}

.card__point__char1 {
  top: -30%;
  left: -5%;
  transform: rotate(-45deg);
}

.card__point__char2 {
  top: -45%;
  left: 16%;
  transform: rotate(-24deg);
}

.card__point__char3 {
  top: -50%;
  left: 50%;
}

.card__point__char4 {
  top: -44%;
  left: 65%;
  transform: rotate(28deg);
}

.card__point__char5 {
  top: -28%;
  left: 87%;
  transform: rotate(45deg);
}

.card__number {
  position: absolute;
  transform: translateX(-50%);
  top: 15%;
  left: 50%;
  font-size: 1.9rem;
  font-weight: bold;
  color: #fd7893;
}

.card__details {
  padding: 40px 20px;
  color: #626063;
}

.card__details[open]:hover .card__text {
  display: none;
}

.card__summary {
  cursor: pointer;
  list-style: none;
}

.card__title {
  text-decoration: underline wavy #5cb9be;
  padding-bottom: 12px;
  color: #626063;
}

.card__text {
  display: none;
}
