.flow {
  background-color: #f4f2ef;
}

.flow__title {
  text-align: center;
  color: #626063;
  padding: 40px 0;
}

.flow__list {
  list-style: none;
  padding: 0 32px;
}

.flow__item::after {
  display: inline-block;
  content: "・・・";
  position: relative;
  left: 25px;
  writing-mode: vertical-rl;
  font-weight: bold;
  letter-spacing: -6px;
  padding-bottom: 8px;
}

.flow__item:last-child::after {
  content: "";
}

.ellipse {
  display: flex;
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  border-radius: 36px;
  padding: 4px;
}

.ellipse__inner {
  position: relative;
  width: 68px;
  height: 64px;
  background-color: #fd7893;
  border-radius: 36px;
  margin-right: 16px;
}

.ellipse__circle {
  line-height: 1.25;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.ellipse__step {
  color: #ffffff;
  font-size: 0.7rem;
}

.ellipse__number {
  display: block;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
}

.ellipse__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84%;
  padding-right: 12px;
  color: #626063;
}

.ellipse__title {
  padding: 0 4px;
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(transparent 60%, #fbf2f2 60%);
  white-space: pre-line;
}

.ellipse__text {
  font-size: 1rem;
  white-space: pre-line;
}
