.menu {
  letter-spacing: 0.15rem;
  background-color: #fff;
}
.menu__title {
  color: #626063;
  text-align: center;
}
.menu__name {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #626063;
  text-decoration: underline wavy #cfdedf 2px;
  text-underline-offset: 0.5em;
  padding: 40px 0 32px;
  text-align: center;
}

.table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  border: #a2997f solid 1px;
  table-layout: fixed;
  text-align: center;
}

th {
  padding: 0.9rem 0;
  font-size: 1.2rem;
  color: #f5f5f5;
  background-color: #a2997f;
  border: #403a32 solid 1px;
}

td {
  padding: 0.8rem 0;
  font-size: 1rem;
  background-color: #f4f2ef;
  color: #626063;
}

th:nth-child(1) {
  width: 25%;
}
th:nth-child(2) {
  background-color: #6e6457;
  width: 14%;
}
th:nth-child(3) {
  background-color: #403a32;
}
